body{
  font-family: 'Poppins', sans-serif;
}

.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh; 
  background-color: #f7f7f7;
}

.app-navbar{
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
}
 
.navbar{
  display: flex;
  flex-direction: column;
}

.title{
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
}

h1{
  font-size: xx-large;
  font-weight: bolder; 
}

.pokemon-logo{
display: flex;
flex-direction: row;
align-items: center;
}

.order-button-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-button{
  background-color:#f7f7f7;
  border: none;
}

.logo{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.input{
  width: 38vw;
  height: 5vh;
  border-radius: 0.5rem;
  border: solid #666666 1px;
  background-color: white;
  text-align: center;
}

.list-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: baseline;
  flex-wrap: wrap;
  margin-top: 2vh;
  background-color: #f7f7f7;
  z-index: 0;
}

.mini{
    width: 8vw;
    height: 18vh;
    position: absolute;
    margin-top: 10px;
}

.number-span{
  display: flex;
  align-self: flex-end;
  margin: 5px;
}

.box{
  width: 12vw;
  height: 25vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  margin: 1vh;
  background-color: white;
}

.box::before{
  content: '';
  position: absolute;
  background: -webkit-linear-gradient(to right, #56bbf2, #e873f5, #fa8f2c);
  background: linear-gradient(to right, #56bbf2, #e873f5, #fa8f2c);
  inset: 0;
  filter: blur(6px);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.box:hover::before{
  opacity: 1;
}

.name-box{
  width:100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.grass{
  border: 2px solid #74CB48;
  color: #74CB48;
}

.grass-name-list{
  background-color:#74CB48;
}

.fire{
  border: 2px solid #F57D31;
  color: #F57D31;
}

.fire-name-list{
  background-color:#F57D31;
}

.water{
  border: 2px solid #6493EB;
  color: #6493EB;
}

.water-name-list{
  background-color:#6493EB;
}

.steel{
  border: 2px solid #B7B9D0;
  color: #9497bf;
}

.steel-name-list{
  background-color:#B7B9D0;
}

.normal{
  border: 2px solid #AAA67F;
  color: #928d5e;
}

.normal-name-list{
  background-color:#AAA67F;
}

.ghost{
  border: 2px solid #70559B;
  color: #70559B;
}

.ghost-name-list{
  background-color:#70559B;
}

.psychic{
  border: 2px solid #FB5584;
  color: #FB5584;
}

.psychic-name-list{
  background-color:#FB5584;
}

.bug{
  border: 2px solid #A7B723;
  color: #A7B723;
}

.bug-name-list{
  background-color:#A7B723;
}

.electric{
  border: 2px solid #F9CF30;
  color: #F9CF30;
}

.electric-name-list{
  background-color:#F9CF30;
}

.big-card-container{
  position: relative;
  width: 25%;
  height: 95%;
  margin: 5vh;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}

.bgrn-pokeball{
  position: absolute;
  right: 2vh;
  top: 1vh;
  z-index: 1;
  filter: invert(100)
  brightness(100);
  opacity: 0.2;
}

.big-card-nav{
  width: 90%;
  height: 5%;
  margin: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.big-card-name{
  display: flex;
  align-items: center;
  color: white;
}
.color-arrow{
  filter: invert(100%) brightness(200%);
}

.pokemon-number{
  color: white;
}

.pokemon-image-container{
  position: absolute;
  top: 10vh;
  z-index: 3;
}

.pokemon-image{
  object-fit: contain;
}

.type-container{
  width: 96%;
  height: 65%;
  margin: 1vh;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.type-box{
  height:20px;
  display:flex;
  align-items: center;
  margin-top: 8vh;
  margin-bottom: 2vh;
}

.type{
  width: 50px;
  height: 20px;
  margin: 1vh;
  background-color: #74CB48;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-small;
  font-weight: bold;
  border-radius: 1rem;
}

.about{
  font-weight:bold;
}

.description-box{
  width: 90%;
}
.description{
  font-weight: lighter;
  font-size: x-small;
}

.weight-height-moves{
  display: flex;
  flex-direction: row;
}
.body-stat{
  width: 5vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: x-small;
  margin: 1vh;
}

.middle-stat{
  border-right: solid black 1px;
  border-left: solid black 1px ;
  width:5vw;
}

.measure-box{
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight:600;
}

.measure{
  margin-left: 6px;
}

.span-stat{
  font-size: xx-small;
}

.stats-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-top: 1vh;
  gap: 5px;
}

.base-stats-container{
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}

.stat-box-left{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stat-composition{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: x-small;
  font-weight: bold;
  gap: 2px;
}

.stat-number{
  width: 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: x-small;
  font-weight: bold;
  margin: 0 2vh 0 2vh;
  gap: 2px;
  border-left: 1px solid black ;
}

.stat-bar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.stat-bar-bgrn{
  width: 15vw;
  height: 5px;
  border-radius: 1rem;
  background-color: #c3eeae;
}

.hp{
  background-color: #74CB48;
  border-radius: 1rem;
  width: 20%;
  height: 100%;
}
